/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {
    .navbar{
        height: 80px !important;
    }

    .nav a{
        font-size: 30px !important;
    }

    .OzLogoBlack{
        height: 70px !important;
    }

    .chunkMe{
        padding-left: 5vh !important;
        padding-right: 5vh !important;
    }
    .chunkRecalls{
        padding-left: 5vh !important;
        padding-right: 5vh !important;
    }
}

@media all and (max-width: 480px) {
    .OzLogo{
        width: 200px !important;
    }

    .fadeIn1 {
        font-size: 20px !important;
    }

    .fadeIn2{
        font-size: 8px !important;
    }

    .buttons button{
        width: 100px !important;
        height: 50px !important;
        border-radius: 50px;

        font-weight: 800!important;
        color: white;

        font-family: 'Montserrat', sans-serif;
        background-color: transparent;
        border: 2px solid #FDCD3B;
        margin-top: 5vh !important;
        text-transform: uppercase;
        font-size: 10px !important;
        -webkit-transition: width 0.5s; /* Safari */
        transition: width 0.5s;
    }

    .buttons button:hover{
        background-color: #FDCD3B;
        color: black;
        width: 210px;
    }

    .navbar{
        height: 80px !important;
    }

    .nav a{
        font-size: 10px !important;
    }

    .OzLogoBlack{
        height: 45px !important;
    }

    .chunkMe{
        padding-left: 5vh !important;
        padding-right: 5vh !important;
    }
    .chunkRecalls{
        padding-left: 5vh !important;
        padding-right: 5vh !important;
    }
}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}



.section1 {
    background-image: url("../img/sky.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
}

.section1:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
    opacity: 0.7;
}



.wrapper{

}

.row{
    padding-top: 20px;
}

.logo{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.menu{
    float: right;
}
.menu li{
    display: inline;

    padding-left: 20px;
    color: #4F4F4F;
}

.topContainer{
    padding-top: 25vh;
    text-align: center;
    color: #ececf6;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.topContainer h4{
    padding-top: 4%;
}

.fadeIn1 {
    -webkit-animation: fadein1 2s linear 1 forwards;
    animation: fadein1 2s linear 1 forwards;
    font-size: 50px;
    font-weight: 300;
}

@-webkit-keyframes fadein1 {
    0% { opacity: 0; }
    33% { opacity: 1; }
}
@keyframes fadein1 {
    0% { opacity: 0; }
    33% { opacity: 1; }
}

.fadeIn2 {
    -webkit-animation: fadein2 2s linear 1 forwards;
    animation: fadein2 2s linear 1 forwards;
    font-weight: 300 !important;
}

@-webkit-keyframes fadein2 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadein2 {
    0% { opacity: 0; }
    33% { opacity: 0; }
    100% { opacity: 1; }
}


.fadeIn3 {
    -webkit-animation: fadein3 2s linear 1 forwards;
    animation: fadein3 2s linear 1 forwards;
}

.label h6{
    font-size: 15px !important;
    font-weight: 200 !important;
}
@-webkit-keyframes fadein3 {
    0% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadein3 {
    0% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}

.buttons{


}
.buttons button{
    width: 200px;
    height: 60px;
    border-radius: 50px;

    font-weight: 800!important;
    color: white;

    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 2px solid #FDCD3B;
    margin-top: 10vh;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
}

.buttons button:hover{
    background-color: #FDCD3B;
    color: black;
    width: 210px;
}

#more {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
}

.btn2{
    margin-left: 30px;
}

.bottomContainer{
    left:0;
    width: 100%;
    bottom: 4%;
    position: absolute;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}

.label{
    -webkit-transition: width 5s; /* Safari */
    transition: width 5s;
    color: rgba(255,255,255,0.7) !important;
}
.label h6{
    position: absolute;
    width: 100%;
    text-align: center;
}
.label:hover{
    color: white !important;

}

.navbar{
    background-color: #FDCD3B;
    height: 60px;
    padding: 0px !important;
}

.navbar-brand{
    color: black !important;
    padding-left: 10%;
}

.aboutContainer{
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: left;
}


.chunkMe{
    text-align: center;
    font-size: 3.2rem;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15vh;
}

.chunkMe h2{
    margin-top: 130px;
}

.chunkMe h5{
    margin-top: 30px;
}

.chunkTree{
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    padding-bottom: 5vh;
}

.chunkTree h2{
    padding-top: 130px;
}

.chunkTree h5{
    margin-top: 30px;
    padding-bottom: 80px;
}

.chunkProjects{
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5vh;
}

.chunkProjects h2{
    padding-top: 50px;
}

.chunkProjects h5{
    margin-top: 30px;
}

h2{
    font-size: 35px;
    font-weight: 700 !important;
    color: #2A3A3F;
    font-family: 'Montserrat', sans-serif;
}

h5{
    color: #524e4d;
    font-family: 'Montserrat', sans-serif;
}

h6{
    font-size: 20px;
    font-weight: 800;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #93a4aa;
    margin: 0px;
    padding-bottom: 5px;
}

#toolTree{
    padding-top: 100px;
    padding-bottom: 10vh;
}


.containerMe{
    padding-top: 15vh;
}


.chunkProjects{
    background-color: white;
    margin-top: 10vh;
}

.chunkJob {
    background-color: #eee;
    text-align: center;
    padding-bottom: 15vh;
}

.chunkJob h2{
    padding-top: 15vh;
}

.chunkJob h5{
    margin-top: 30px;
    padding-bottom: 1vh;
}

.btn3{
    width: 200px;
    height: 60px;
    border-radius: 50px;

    font-weight: 800!important;
    color: #2A3A3F;

    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 2px solid #2A3A3F;
    margin-top: 10vh;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;

}

.btn3:hover{

    background-color: #2A3A3F;
    color: #eee;
    width: 210px;
}

.footChunk{
    height: 25vh;
    background-color: #2A3A3F;
}

.footChunk p{
    text-align: center;
    padding-top: 10vh;
}

.socialLinks{
    text-align: center;
}

.socialLinks a{
    display: inline-block;
    color: rgba(255,255,255,0.6);
    margin: 0 4px;
    width: 36px;
    height: 36px;
    line-height: 2.3;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50px;
    transition: all .3s ease-in-out;
    margin-top: 2vh;
}

.socialLinks a:hover{
    color: white;
    background-color: rgba(0,0,0,0.4);
}

.nav a{
    font-size: 15px;
    color: black;
}

.projectIMG{
    width: 250px;
    height: 200px;
    padding-bottom: 5vh;
    padding-top: 20px;

}

.hightlightTech{
    color: red;
    background-color: white;
}